body { font-family: sans-serif; margin: 0; padding: 0; }
section { padding: 30px 50px; width: 100%; box-sizing: border-box; margin: auto; }
h1, h2 { color: #fcd52e; }
.preto { background: #151515; color: white; }
button { background: #fcd52e; color: #000; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-weight: bold; margin-top: 15px; }
ul { padding-left: 20px;} 