body { font-family: sans-serif; margin: 0; padding: 0; }
section { padding: 40px 60px; width: 100%; box-sizing: border-box; }
h1, h2 { color: #fcd52e; margin: 20px 0; }
.preto { background: #151515; color: white; }
button { background: #fcd52e; color: #000; border: none; padding: 15px 30px; border-radius: 8px; cursor: pointer; font-weight: bold; margin-top: 20px; font-size: 16px; }
ul { padding-left: 20px; line-height: 1.6; }
.hero {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    gap: 20px; /* espaço entre imagem e título */
}

.hero img {
    max-width: 150px; /* ajuste o tamanho conforme o necessário */
    height: auto;
}

.hero h1 {
    font-size: 48px; /* ajuste conforme o necessário */
}
