/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

/* ================= NAVBAR ================= */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
  height: 8vh;
}

.logo img {
  max-width: 6vh;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #f8bf4d;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.2s ease;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f8bf4d;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.titulo {
  margin-top: 12vh; 
  font-size: 3.5vh;
  color: #f8bf4d;
}


.decoracao {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.decoracao.esquerda {
  top: 40%;
  left: -20vh;
  width: 400px;
}

.decoracao.direita {
  top: 15%;
  /* Mais para baixo */
  right: -20vh;
  width: 400px;
}

.decoracao img {
  width: 100%;
  height: auto;
}

/* RESPONSIVO */
@media (max-width: 1024px) {

  .decoracao.esquerda,
  .decoracao.direita {
    width: 250px;
  }
}

@media (max-width: 768px) {

  .decoracao.esquerda,
  .decoracao.direita {
    display: none;
  }
}

/* ================= CONTAINER DE LOGIN ================= */
.container-autenticacao {
  background-color: #000000;
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: 30px auto 50px auto; 
  /* Centraliza */
}
/* ================= FORMULÁRIO ================= */
.formulario-autenticacao {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.formulario-autenticacao.ativo {
  display: flex;
}

.formulario-autenticacao h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #f8bf4d;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.campo-formulario label {
  font-weight: 600;
  color: #f8bf4d;
}

.campo-formulario input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.campo-formulario input:focus {
  outline: none;
  border-color: #f8bf4d;
}

.botao-adicionar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    background-color: #000000;
    color:#f8bf4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.icone-botao {
    width: 30px;
    height: 30px;
}
.botao-enviar {
  background-color: #f8bf4d;
  color: #000;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.botao-enviar:hover {
  background-color: #c59733;
}
