{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">{% endblock %}

{% block content %}
 <!--NAVBAR-->
  <header>
    <nav>
      <div class="logo">
        <a href="#">
          <img src="{% static 'landing/img/logo.png' %}" alt="Logo Apicultura">
        </a>
      </div>

      <ul class="navbar">
        <li><a href="#">INÍCIO</a></li>
        <li><a href="#">MINHAS COLMEIAS</a></li>
        <li><a href="#">DADOS</a></li>
        <li><a href="#">REGISTRO</a></li>
        <li><a href="#">PRODUÇÃO</a></li>
      </ul>

      <div class="user-profile">
        <img src="{% static 'landing/img/imagem_usuario2.png'%}" alt="User Profile" id="user-profile-img">
      </div>

      <div class="mobile-menu-toggle" id="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
</header>

<!-- DECORAÇÃO -->
<div class="decoracao esquerda">
    <img src="{% static 'accounts/img/favo_de_mel.png' %}" alt="Favo Esquerda">
</div>
<div class="decoracao direita">
    <img src="{% static 'accounts/img/favo_de_mel.png' %}" alt="Favo Direita">
</div>


  <!-- CONTEÚDO LOGIN -->
<div class="container-autenticacao">
<!-- CÓDIGO PARA O FORMULÁRIO NO login.html -->

<form class="formulario-autenticacao ativo" method="post">
  {% csrf_token %}
  
  <h2>Login</h2>

  {% for field in form %}
    <div class="campo-formulario">
      {{ field.label_tag }} <!-- A etiqueta (ex: "Usuário:") -->
      {{ field }}           <!-- O campo <input> -->
      
      {% for error in field.errors %}
        <p style="color: #ff5c5c; font-size: 0.8rem;">{{ error }}</p>
      {% endfor %}
    </div>
  {% endfor %}

  {% for error in form.non_field_errors %}
      <p style="color: #ff5c5c; font-size: 0.9rem; text-align: center;">{{ error }}</p>
  {% endfor %}

  <button type="submit" class="botao-enviar">Entrar</button>
  
  <div class="alternar-formulario">
    Não tem uma conta? <a href="{% url 'accounts:cadastro' %}">Cadastre-se</a>
  </div>
</form>

</div>

  <script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}