{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Cadastro{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/cadastro.css' %}">
{% endblock %}

{% block content %}

<header>
  <nav>
    <div class="logo">
      <a href="#"><img src="{% static 'landing/img/logo.png' %}" alt="Logo"></a>
    </div>
    <ul class="navbar">
      <li><a href="#">INÍCIO</a></li>
      <li><a href="#">MINHAS COLMEIAS</a></li>
      <li><a href="#">DADOS</a></li>
      <li><a href="#">REGISTRO</a></li>
      <li><a href="#">PRODUÇÃO</a></li>
    </ul>
    <div class="user-profile">
      <img src="{% static 'accounts/img/imagem_usuario.png' %}" alt="Usuário">
    </div>
  </nav>
</header>

<!-- DECORAÇÃO -->
<div class="decoracao esquerda">
  <img src="{% static 'accounts/img/favo_de_mel.png' %}" alt="Favo Esquerda">
</div>
<div class="decoracao direita">
  <img src="{% static 'accounts/img/favo_de_mel.png' %}" alt="Favo Direita">
</div>

<!-- CONTEÚDO CADASTRO -->
<div class="container-autenticacao">


    <form class="formulario-autenticacao ativo" method="post">
        {% csrf_token %}
        <h2>Cadastro</h2>

        {% for field in form %}
            <div class="campo-formulario {% if field.name in 'password1 password2' %}senha-container{% endif %}">
                {{ field.label_tag }}

                {% if field.name in 'password1 password2' %}
                    <div class="input-senha-wrapper">
                        {{ field }}
                        <button type="button" class="toggle-senha" data-target="{{ field.id_for_label }}">
                          <svg class="icon-olho" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path class="olho-contorno" d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7-11-7-11-7z"/>
                            <circle class="olho-pupila" cx="12" cy="12" r="3"/>
                            <line class="olho-risco" x1="2" y1="22" x2="22" y2="2"/>
                          </svg>
                        </button>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: #ff5c5c; font-size: 0.8rem;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="botao-enviar">Cadastrar</button>

        <div class="alternar-formulario">
            Já tem uma conta? <a href="{% url 'login' %}">Fazer login</a>
        </div>
    </form>
</div>

<script src="{% static 'accounts/js/cadastro.js' %}"></script>

{% endblock %}