<!-- blog/templates/blog/home.html -->
{% extends "landing/base.html" %}

{% block title %}Ecolmeia{% endblock %}

{% block content %}
    <section class="preto">
        <h2>COMO ESTÁ SUA COLMEIA?</h2>
        <p>As abelhas são muito mais do que produtoras de mel — elas são pilares da vida no planeta...</p>
    </section>

    <section>
        <h2>O QUE OFERECEMOS A VOCÊ:</h2>
        <ul>
            <li>Registre cada colmeia</li>
            <li>Anote tudo o que observar</li>
            <li>Veja o crescimento da sua produção</li>
            <li>Use pelo celular, tablet ou computador</li>
        </ul>
        <button id="cadastrar">CADASTRE-SE AQUI</button>
    </section>

    <section class="preto">
        <h2>COMO FUNCIONA O ECOLMEIA?</h2>
        <p>Nosso sistema foi criado para ajudar pequenos apicultores</p>
        <button id="cadastrar2">CADASTRE-SE AQUI</button>
    </section>
{% endblock %}