<!--{% extends 'dashboard/base.html' %} -->
{% load static %}
{% block title %}inicio{% endblock %}

{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'dashboard/css/dados.css' %}">
{% endblock %}

{% block content %}

{% include './header.html' %}

<!-- DECORAÇÃO -->
<div class="decoracao esquerda">
  <img src="{% static 'accounts/img/favo_de_mel.png' %}" alt="Favo Esquerda">
</div>
<div class="decoracao direita">
  <img src="{% static 'accounts/img/favo_de_mel.png' %}" alt="Favo Direita">
</div>

<div class="container-autenticacao">
  <form class="formulario-autenticacao ativo" method="post" 
        action="{% if colmeia.id %}{% url 'edit_hive' colmeia.id %}{% else %}{% url 'nova_colmeia' %}{% endif %}">
    {% csrf_token %}
    <h2>Dados da Colmeia</h2>

    <div class="campo-formulario">
      <label for="nome">Nome da Colmeia</label>
      <input type="text" id="nome" name="nome" value="{{ colmeia.nome }}" required />
    </div>

    <div class="campo-formulario">
      <label for="temperatura">Temperatura (°C)</label>
      <input type="number" id="temperatura" name="temperatura" step="0.01" 
             value="{{ colmeia.temperatura }}" required />
    </div>

    <div class="campo-formulario">
      <label for="peso">Peso (kg)</label>
      <input type="number" id="peso" name="peso" step="0.01" 
             value="{{ colmeia.peso }}" required />
    </div>

    <div class="campo-formulario">
      <label for="umidade">Umidade (%)</label>
      <input type="number" id="umidade" name="umidade" step="0.01" 
             value="{{ colmeia.umidade }}" required />
    </div>

    <button type="submit" class="botao-enviar">
        {% if colmeia.id %}Salvar alterações{% else %}Salvar{% endif %}
    </button>
  </form>
</div>

<script src="{% static 'dashboard/js/dados.js' %}"></script>
{% endblock %}